<head>
  <meta charset="UTF-8" />
  <title><!-- @echo title --> (v<!-- @echo version -->)</title>
  <meta name="author" content="<!-- @echo author -->">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta name="theme-color" content="<!-- @echo cv.theme -->">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="<!-- @echo author -->">
  <meta name="apple-mobile-web-app-status-bar-style" content="<!-- @echo cv.theme -->">

  <meta name="application-name" content="<!-- @echo author -->">
  <meta name="description" content="<!-- @echo title -->">

  <!-- Schema.org -->
  <meta itemprop="name" content="<!-- @echo author -->">
  <meta itemprop="description" content="<!-- @echo title -->">

  <!-- Open Graph -->
  <meta property="og:site_name" content="<!-- @echo author -->">
  <meta property="og:url" content="https://craigbuckler.com/">
  <meta property="og:title" content="<!-- @echo author -->">
  <meta property="og:description" content="<!-- @echo title -->">
  <meta property="og:type" content="profile">
  <meta property="og:locale" content="<!-- @echo cv.language -->">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@craigbuckler">
  <meta name="twitter:title" content="<!-- @echo author -->">
  <meta name="twitter:description" content="<!-- @echo title -->">

  <!-- favicon -->
  <link rel="icon" type="image/svg+xml" href="data:image/svg+xml;charset=utf-8,&#60;svg xmlns=&#34;http://www.w3.org/2000/svg&#34; viewBox=&#34;0 0 9 9&#34;&#62;&#60;text fill=&#34;white&#34; font-family=&#34;serif&#34; font-size=&#34;6&#34; font-weight=&#34;bold&#34; x=&#34;0&#34; y=&#34;7&#34;&#62;CV&#60;/text&#62;&#60;/svg&#62;">

  <style><!-- @include-static ../../../dest/build/css/main.css --></style>
</head>
