<nav>

  <ul>
    <li><a href="#profile"><svg><use xlink:href="#link"></use></svg>profile</a></li>
    <li><a href="#personal"><svg><use xlink:href="#link"></use></svg>personal</a></li>
    <li><a href="#technical"><svg><use xlink:href="#link"></use></svg>technical</a></li>
    <li><a href="#employment"><svg><use xlink:href="#link"></use></svg>employment</a></li>
    <li><a href="#publications"><svg><use xlink:href="#link"></use></svg>publications</a></li>
    <li><a href="#education"><svg><use xlink:href="#link"></use></svg>education</a></li>
    <li class="full"><a href="#awards"><svg><use xlink:href="#link"></use></svg>awards</a></li>
    <li class="full"><a href="#interests"><svg><use xlink:href="#link"></use></svg>interests</a></li>

    <li><label for="full">
      <span class="on"><!-- @include-static ../../../dest/build/images/docminus.svg -->summary</span>
      <span class="off"><!-- @include-static ../../../dest/build/images/docplus.svg -->full content</span>
    </label></li>

    <li><label for="dark">
      <span class="on"><!-- @include-static ../../../dest/build/images/light.svg -->light</span>
      <span class="off"><!-- @include-static ../../../dest/build/images/dark.svg -->dark</span>
    theme</label></li>

  </ul>

  <label for="menu"><!-- @include-static ../../../dest/build/images/menu.svg -->menu</label>

  <!-- @include-static ../../../dest/build/images/link.svg -->

</nav>
